{% extends 'base.html.twig' %}

{% block title %}Nouveau Ebook{% endblock %}

{% block body %}
<div class="container-fluid wrapperPresta text-center">
    <div class="mt-2">
        <h1 class="text-subnav"><span class="color-letter">A</span>jouter un nouveau ebook</h1>
    </div>
    {{ include('expert/ebook/ebook_form.html.twig') }}
    <a href="{{ path('expert_ebook') }}">
        <button type="button" class="btn btn-inscription nav-link">Retour à la liste</button>
    </a>
</div>
<div class="hr-expert mt-5">
    <hr>
</div>
{% endblock %}