<p>Bonjour, </p>
<p>Veuillez cliquer sur le lien ci-dessous pour confirmer votre email et votre compte Beeznessly: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Attention, ce lien expire dans une heure.
</p>
<p>
    A très bientôt,
    L'équipe Beeznessly
</p>
