{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron m-5 color-inscription form-bg-login">
        <div class="row justify-content-around align-items-center">
            <div class="col-lg-7 col-md-7 col-xs-12 ml-3 color-banner-home">
                <h1 class="color-connexion mb-3">Accès refusé - Erreur 401</h1>
                <p>Vous essayez d'accéder à une page à laquelle vous devez d'abord vous connecter avec un ID utilisateur et un mot de passe valides</p>
            </div>
            <div class="col-lg-3 col-md-4 d-none d-sm-block text-center">
                {% include 'design_form_yellow.html.twig'%}
            </div>
        </div>
    </div>
</div>
{% endblock %}